body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

table {
    font-size: 1em;
    margin: 0 0 1em;
    border-collapse: collapse;
    border-width: 0;
    empty-cells: show;
}

tr.unsuccessful td {
    text-decoration: line-through;
}

tr:hover {
    background-color: #ddd;
}

td,th {
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: left;
    vertical-align: top;
    background-color: inherit;
}

th {
    background-color: #dee8f1;
}

input#reload {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.numeric {
    text-align: right;
}

.gray {
    color: #888;
}
